.conteudo {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 100vh;
  position: absolute;
  left: 0;
}

.info {
  width: 65%;
  margin-right: 90px;
  margin-top: 40px;
  color: white;
  font-size: 24px;
}

input {
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  min-width: 250px;
  width: 85%;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  color: #999;
}

button {
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  background-color: #2D333B;
  font-size: 18px;
  padding: 10px;
  color: #999;
  margin-top: 10px;
  margin-left: 10px;
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #E5E5E5;
  margin-right: 32px;
}

.perfil {
  display: flex;
  margin: 40px 0;
}

.perfil h3 {
  color: #999999;
  font-size: 24px;
  margin: 0;
}

.perfil p {
  color: #999999;
  font-size: 12px;
  margin: 0;
}

.perfil span {
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 20px 0 0 0;
}

.repositories {
  color: var(--cor-texto);
  font-size: 32px;
  margin: 12px 0;
  text-align: center;
  border-bottom: 2px solid var(--cor-borda);
  padding-bottom: 10px;
  background-color: var(--cor-fundo);
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--cor-sombra);
  transition: transform 0.3s;
}

.repositories:hover {
  transform: scale(1.05);
}

@media (min-width: 601px) and (max-width: 900px) {
  .info {
    width: 80%;
    margin-right: 60px;
    font-size: 22px;
  }

  input {
    min-width: 200px;
  }

  button {
    font-size: 16px;
  }

  .profile {
    width: 100px;
    height: 100px;
  }

  .perfil h3 {
    font-size: 22px;
  }

  .repositories {
    font-size: 28px;
  }
}

@media (min-width: 901px) {
  .info {
    width: 65%;
  }

  .repositories {
    font-size: 32px;
  }
}
