.conteudo {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 100vh;
  position: absolute;
  left: 0;
}

.info {
  width: 65%;
  margin-right: 90px;
  margin-top: 40px;
  color: white;
  font-size: 24px;
}

input {
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  min-width: 250px;
  width: 85%;
  background: transparent;
  font-size: 18px;
  padding: 10px;
  color: #999;
}

button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-left: 15px;
  margin-top: 10px;
}

button::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf; 
  border-radius: 10rem;
  z-index: -2;
}

.button::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #3a4447;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

button:hover {
  background-color: #a56969;
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(66, 46, 46, 0.1);
}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #E5E5E5;
  margin-right: 32px;
}

.perfil {
  display: flex;
  margin: 40px 0;
}

.perfil h3 {
  color: #999999;
  font-size: 24px;
  margin: 0;
}

.perfil p {
  color: #999999;
  font-size: 12px;
  margin: 0;
}

.perfil span {
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 20px 0 0 0;
}

.repositories {
  color: var(--cor-texto);
  font-size: 32px;
  margin: 12px 0;
  text-align: center;
  border-bottom: 2px solid var(--cor-borda);
  padding-bottom: 10px;
  background-color: var(--cor-fundo);
  border-radius: 5px;
  box-shadow: 0 4px 10px var(--cor-sombra);
  transition: transform 0.3s;
}

.description-profile p{
  margin-top: 6px;
}

.repositories:hover {
  transform: scale(1.05);
}

@media (min-width: 601px) and (max-width: 900px) {
  .info {
    width: 80%;
    margin-right: 60px;
    font-size: 22px;
  }

  input {
    min-width: 200px;
  }

  button {
    font-size: 16px;
  }

  .profile {
    width: 100px;
    height: 100px;
  }

  .perfil h3 {
    font-size: 22px;
  }

  .repositories {
    font-size: 28px;
  }
}

@media (min-width: 901px) {
  .info {
    width: 65%;
  }

  .repositories {
    font-size: 32px;
  }
}