:root {
    --cor-fundo: #1D2128; 
    --cor-texto: #fff; 
    --cor-borda: #fff; 
    --cor-sombra: rgba(29, 33, 40, 0.5); 
  }
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

hr {
    background-color: #999;
    border: 1px solid #999;
}